body {
  overflow: hidden;
}
code {
  font-size: 0.875em !important; color: var(--bs-code-color, #d63384) !important;
  word-wrap: break-word !important;
}

pre {
  display: block !important;
  font-family: monospace;
  unicode-bidi: isolate;
  white-space: pre;
  margin: 1em 0;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 0.25rem;
  overflow-x: auto;
}