<div class="d-flex">
  <nav [class.collapsed]="isCollapsed" class="sidebar bg-dark text-white p-3">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0"></h5>
      <button class="btn btn-sm btn-light" (click)="toggleSidebar()">
        <i class="bi" [ngClass]="isCollapsed ? 'bi-list' : 'bi-x'"></i>
      </button>
    </div>

    <ul class="nav flex-column mt-4">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/dashboard">
          <i class="bi bi-grid-fill me-2 text-white fs-4"></i>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="summarizer">
          <i class="bi bi-robot me-2 fs-4"></i>
          <span *ngIf="!isCollapsed">AI Summarizer</span>
        </a>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link text-white">
          <i class="bi bi-person-circle me-2 fs-4"></i>
          <span *ngIf="!isCollapsed">User</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
