<div class="card shadow-lg p-5 mb-2">
  <h2 class="mb-4 text-center text-dark"> <i class="bi bi-robot me-2"></i>Smart AI Summarizer</h2>
  <form (submit)="onSubmit($event)">
    <div class="mb-3">
      <label class="form-label">Upload PDF or Text File</label>
      <input type="file" (change)="onFileSelected($event)" class="form-control" accept=".pdf" required />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary px-4" [disabled]="loading || !selectedFile">
        {{ loading ? 'Summarizing...' : 'Summarize' }}
      </button>
    </div>
  </form>

  <div *ngIf="summaryText" class="mt-4 mb-2">
    <h5> Summary:</h5>
    <div class="p-5 mb-4 bg-light border rounded" #pdfContent>
      <markdown [data]="summaryText"></markdown>
      <button class="btn btn-primary btn-sm float-end d-flex align-items-center" (click)="copySummary()"
        title="Copy summary to clipboard">
        <i class="bi bi-clipboard me-2"></i> Copy
      </button>
    </div>
  </div>

  <!-- Loader Modal -->
  <div class="modal fade show d-block" tabindex="-1" *ngIf="loading" tra
    style="background: rgba(0, 0, 0, 0.5); position: fixed; inset: 0; z-index: 1050;">
    <div class="d-flex justify-content-center align-items-center h-100 w-100 ">
      <div class="text-center ">
        <div class="spinner-border text-primary mb-3" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <h5 class="text-white">Analyzing ...</h5>
      </div>
    </div>
  </div>
</div>
<app-toast></app-toast>