<div class="card shadow-lg p-3">
  <h2 class="mb-4 text-center text-dark"> <i class="bi bi-robot me-2"></i>Smart AI Summarizer</h2>

  <!-- Upload Section -->
  <div class="mb-3">
    <label class="form-label">Upload PDF or Text File</label>
    <input type="file" (change)="onFileSelected($event)" class="form-control" accept=".pdf,.txt" />
  </div>

  <!-- Or Type Text -->
  <!-- <div class="mb-3">
      <label class="form-label">Or Enter Text</label>
      <textarea [(ngModel)]="inputText" rows="6" class="form-control" placeholder="Paste or type your content here..."></textarea>
    </div> -->

  <!-- Summarize Button -->
  <div class="text-center">
    <button (click)="summarizeText()" class="btn btn-primary px-4" [disabled]="loading">
      {{ loading ? 'Summarizing...' : 'Summarize' }}
    </button>

  </div>

  <!-- Summary Output -->
  <div *ngIf="summaryText" class="mt-4">
    <h5> Summary:</h5>
    <div class="summary-box p-3 bg-light border rounded">
      {{ summaryText }}
    </div>
  </div>

  <!-- Loader Modal -->
  <div class="modal fade show d-block" tabindex="-1" *ngIf="loading" tra
    style="background: rgba(0, 0, 0, 0.5); position: fixed; inset: 0; z-index: 1050;">
    <div class="d-flex justify-content-center align-items-center h-100 w-100 ">
      <div class="text-center ">
        <div class="spinner-border text-primary mb-3" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <h5 class="text-white">Analyzing ...</h5>
      </div>
    </div>
  </div>

</div>