<div class="login-page d-flex align-items-center justify-content-center">
    <div class="login-box p-4" role="form" aria-labelledby="login-heading">
        <h2 id="login-heading" class="text-white text-center mb-4">Login</h2>

        <button class="btn btn-light w-100 rounded-pill mb-3" aria-label="Login with Google"
            (click)="signInWithGoogle()">
            <img src="assets/google.png" alt="Google" width="20" height="20" /> Login with Google
        </button>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" aria-describedby="login-instructions">
            <div *ngIf="errorMessage" class="alert alert-danger mt-2">
                {{ errorMessage }}
            </div>

            <div id="login-instructions" class="visually-hidden">
                Please enter your email and password to log in.
            </div>

            <div class="mb-3">
                <label for="email" class="form-label text-white">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control bg-transparent text-white"
                    [ngClass]="{'is-invalid': isSubmitting && loginForm.controls['email'].invalid}" />

                <div *ngIf="(isSubmitting || loginForm.controls['email'].touched) && loginForm.controls['email']?.errors"
                    class="invalid-feedback">
                    <div *ngIf="loginForm.controls['email']?.errors?.['required']">Email is required.</div>
                    <div *ngIf="loginForm.controls['email']?.errors?.['email']">Email must be a valid email.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-white">Password</label>
                <input type="password" id="password" formControlName="password"
                    class="form-control bg-transparent text-white border-light" required aria-required="true"
                    aria-label="Password" autocomplete="current-password"
                    [ngClass]="{'is-invalid': isSubmitting && loginForm.controls['password']?.invalid}" />
                <div *ngIf="isSubmitting && loginForm.controls['password']?.errors" class="invalid-feedback">
                    <div *ngIf="loginForm.controls['password']?.errors?.['required']">Password is required.</div>
                </div>
            </div>
            <button class="btn btn-light w-100 rounded-pill" aria-label="Log in" type="submit">
                {{ isSubmitting ? 'Logging in...' : 'Login' }}
            </button>

            <p class="text-white text-center mt-3 small">
                Don’t have an account?
                <a (click)="goToRegister()" class="text-white fw-semibold text-decoration-underline" role="link"
                    tabindex="0" aria-label="Go to register page">
                    Register
                </a>
            </p>
        </form>
    </div>
</div>